{% extends 'backoffice.html.twig' %}

{% block title %}Concours{% endblock %}

{% block body %}
    <h1>Concours</h1>

    <table class="table">
        <tbody>
          
            <tr>
                <th>Titre</th>
                <td>{{ concour.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ concour.description }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ concour.dateDebut ? concour.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ concour.dateFin ? concour.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ concour.statut }}</td>
            </tr>
            <tr>
                <th>Regles</th>
                <td>{{ concour.regles }}</td>
            </tr>
            <tr>
                <th>VotePublic</th>
                <td>{{ concour.votePublic ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateDebutVote</th>
                <td>{{ concour.dateDebutVote ? concour.dateDebutVote|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFinVote</th>
                <td>{{ concour.dateFinVote ? concour.dateFinVote|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>





    <div class="d-flex gap-2 mt-4">

    <a href="{{ path('app_concours_index') }}" class="btn btn-secondary">
        <svg class="icon me-1">
            <use xlink:href="{{ asset('vendors/@coreui/icons/svg/free.svg') }}#cil-arrow-left"></use>
        </svg>
        Retour à la liste
    </a>

    <a href="{{ path('app_concours_edit', {'id': concour.id}) }}" class="btn btn-primary">
        <svg class="icon me-1">
            <use xlink:href="{{ asset('vendors/@coreui/icons/svg/free.svg') }}#cil-pencil"></use>
        </svg>
        Modifier
    </a>

</div>

    
{% endblock %}
